@mixin container {
  margin: 0 auto;
  padding-left: 7.8125%;
  padding-right: 7.8125%;

  @media #{$tablet-width} {
    padding-left: 3.906%;
    padding-right: 3.906%;
  }

  @media #{$desktop-width} {
    max-width: 1170px;
    padding-left: 4.297%;
    padding-right: 4.297%;
  }

  @media #{$large-width} {
    max-width: 1440px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@mixin p-reset {
  margin: 0;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin h-reset {
  margin: 0;
}
