.page-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;

  background-image: url("../assets/img/pattern-01.png");
  background-size: 500px 500px;
  background-repeat: repeat;
  box-shadow: inset 0 0 70px rgba(#000000, 0.5);

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  color: #828282;
}

@media #{$tablet-width} {
  .page-wrapper {
    box-shadow: inset 0 0 100px rgba(#000000, 0.5);

    font-size: 16px;
  }
}

@media #{$desktop-width} {
  .page-wrapper {
    box-shadow: inset 0 0 150px rgba(#000000, 0.5);

    font-size: 18px;
  }
}
